.topiclist-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  .image {
    width: 56px;
    height: 56px;
  }
  .left {
    margin-left: 20px;
  }
  .right {
    margin-right: 20px;
  }
}
