.topic-panel {
  padding: 20px;
  font-size: 28px;
  .topic-panel-title {
    background-color: #0288d1;
    color: #ffffff;
    padding: 10px 0;
    padding-left: 20px;
    border-radius: 8px;
  }
  .topic-panel-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0;
    .topic-panel-list-img {
      border-radius: 50%;
      width: 52px;
      height: 52px;
      min-width: 52px;
    }
    .topic-panel-list-date {
      color: #cccccc;
    }
    .topic-panel-list-title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 50%;
      color: blue;
    }
  }
}
